<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>

    <title>Application</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Questions)}"/>

    <div class="container mt-3">
        <div class="row">
            <div class="col-8">
                <h1>
                    Your Questions
                </h1>
            </div>
            <div class="col-4">
                <a th:href="@{/addQuestion}" class="btn btn-outline-primary" role="button">Add Question</a>
            </div>
        </div>
    </div>
    <span th:if="${questions.size() == 0}">no questions</span>
    <table th:if="${questions.size() > 0}" class="table table-hover table-striped">
        <thead class="table-dark">
        <tr>
            <th>From User</th>
            <th>Question</th>
            <th>Answer Type</th>
            <th>Answer</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question : ${questions}">
            <td th:text="${question.sender.email}" class="align-middle"/>
            <td th:text="${question.questionText}"/>
            <td th:text="${question.type.val}"/>
            <td th:text="${question.answer}"/>
            <td>

            </td>
            <td>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>