<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</head>


<div th:fragment="navigation(activeTab)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid " >
            <div class="collapse navbar-collapse d-sm-flex flex-row justify-content-center">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link">Logo</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse d-sm-flex flex-row justify-content-center">
                <ul class="navbar-nav ">
                    <li class="nav-item d-flex">
                        <a class="nav-link" th:href="@{/YourQuestions}">YourQuestions</a>
                    </li>
                    <li class="nav-item d-flex">
                        <a class="nav-link" th:href="@{/AnswerTheQuestion}">AnswerTheQuestion</a>
                    </li>
                    <div class="collapse navbar-collapse d-flex" id="navbarNavDarkDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                                   role="button" data-bs-toggle="dropdown"  aria-expanded="false"
                                   th:text="${#authentication.principal.userInfo.nickname}">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark"
                                    aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item" href="@{/editProfile}">Edit Profile</a></li>
                                    <li><a class="dropdown-item" href="@{/deleteProfile}">Delete Profile</a></li>
                                    <li>
                                        <form class="dropdown-item" th:action="@{/logout}" method="POST">
                                            <input type="submit" class="btn" value="LogOut"/>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</div>
