<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</head>


<div th:fragment="pagination">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link">Pages</a>
        </li>
        <th:block th:each="i : ${#number.sequence(1, page.totalPages)}" class="page-item">
            <li class="page-item active" th:if="${page.number == i}">
                <a class="page-link" th:href="#" th:text="${i}"></a>
            </li>
            <li class="page-item disabled" th:unless="${page.number == i}">
                <a class="page-link" th:href="${url}?page=${i}" th:text="${i}>"></a>
            </li>
        </th:block>
    </ul>
</div>
