<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>

    <title>Application</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Main)}"/>

    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>
                    Your Questions
                </h1>
            </div>
            <div class="col-4">
                <btn class="btn btn-outline-primary" th:href="@{'/addQuestion}">Add Question</btn>
            </div>
        </div>
    </div>
    <span th:if="${questions.size() == 0}">no questions</span>
    <table th:if="${questions.size() > 0}" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <td>For User</td>
            <td>Question</td>
            <td>Answer Type</td>
            <td>Answer</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question : ${questions}">
            <td th:text="${question.sender}"/>
            <td th:text="${question.question}"/>
            <td th:text="${question.type}"/>
            <td th:text="${question.answer}"/>
            <d>

            </d>
            <td>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>